# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.env/
venv/
ENV/
env/

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store
